
html, body {
    margin: 0;
    padding: 0;
}
#first{
    background-color: #1F2937
}
.top{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.header-logo{
    margin-left: 10%;
    color: white;
    font-size: x-large;
    font-weight: bold;
}
.top .options{
    margin-right: 10%;
    display: flex;
    justify-content: space-evenly;
}
.top .options div{
    margin: 0px 10px 0px 10px;
    color:white;
}
.logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 150px 0px 150px 0px;
}
.logo .title{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    width: 300px;

}
.title-title{
    
    font-size:xx-large;
    font-weight: bold;  
}
.title-info{
    padding: 10px 0px;
}
.logo .title button{
    align-self: start;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    border: 0px;
    padding: 10px 30px;
    font-weight: bold;
}
.place-holder{
    color:white;
    height:100px;
    width:600px;
    background-color: grey;
    text-align: center;
    padding-top: 100px;
}
#second{
    padding-top: 50px;
    background-color: white;
}
.second-title{
    text-align: center;
    font-size:36px;
    font-weight:bolder;
    color: #1F2937;
}
.infos{
    display: flex;
    justify-content: space-evenly;
    margin: 0 20% 0 20%;
    padding: 50px 0;
}

.infos div{
 
    width: 200px;
}
.info .text{
    color: #1F2937;
}

.border{
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}
.info .text{
    text-align: center;
}
#third{
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 100px 0;
    
}
.quote{
    font-size: 36px ;
    font-style: italic;
    color: #1F2937;
    text-align: center;
    width:1000px;
}
.by{
    padding-top:10px;
    text-align: end;
    Color: #1F2937;
    font-weight: bold;
    font-size: 25px ;
}
#fourth{
    padding: 100px 0;
    display: flex;
    justify-content: center;
    background-color: white;
}
#fourth .container{
    padding: 50px 0;
    background-color: #3882F6;
    display: flex;
    border: 2px solid #3882F6;
    border-radius: 10px;
    justify-content: space-between;
    width: 1000px;
}
.motive{
    margin-left: 10%;
    color: white;
}
.motive-1{
    font-size: 25px;
    font-weight: bold;
}
.motive-2{
    font-size: 20px;
}

.sign-up{
    margin-right:10%;
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px 30px;
    font-weight: bold;   
    color: white;
    background-color: #3882F6;
}
#footer{
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding:50px 0;
}